<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>


<table id="listaUtenti" th:if="${utente} != null">
  <tr>
    <!-- <th>ID</th>-->
    <th>Nome</th>
    <th>Cognome</th>
    <th>Data di nascita</th>
    <th>Indirizzo</th>
    <th>Email</th>
    <th>Password</th>
  </tr>
  <tr th:each="ut : ${utente}">
    <!-- <td th:text="${am.id}"> </td>	 -->
    <td th:text="${am.nome}"></td>
    <td th:text="${am.cognome}"></td>
    <td th:text="${am.dataNascita}"></td>
    <td th:text="${am.indirizzo}"></td>
    <td th:text="${am.email}"></td>
    <td th:text="${am.password}"></td>
  </tr>
</table>
</body>
</html>